params {
  config_profile_description = 'NEWCASTLE ROCKET HPC'
}

process {
  executor = 'slurm'
  queue = { task.memory < 16.GB ? 'defq' : 'bigmem' }
  // change depending on group HPC membership
  clusterOptions = { "-A ghwtcmr" }
  // for issues when resuming using a shared filesystem
  cache = 'lenient'
  scratch = true
  // use compute node scratch as the temp directory when running java jobs and singularity containers
  beforeScript =
    """
    export JDK_JAVA_OPTIONS="-Djava.io.tmpdir=${TMPDIR}"
    export SINGULARITY_TMPDIR=$TMPDIR
    """
}

executor {
  queueSize = 20
  submitRateLimit = '50/2min'
}

singularity {
  enabled = true
  autoMount = true
  envWhitelist = ['SINGULARITY_TMPDIR']
  runOptions = '-B $SINGULARITY_TMPDIR:/tmp -B $SINGULARITY_TMPDIR:/scratch'
}

params {
  max_memory = 72.GB
  max_cpus = 12
  max_time = '48.h'
}

env {
  MALLOC_ARENA_MAX=1
}

